.home_btn {
	padding: 8px 12px;
	align-items: center;
	background-color: rgb(241, 142, 48);
	border: none;
	border-radius: 80px;

	cursor: pointer;
	display: flex;
	color: rgb(255, 255, 255);

	justify-content: center;
	font-weight: bold;
	margin-top: 16px;
	outline: none;

	text-decoration: none;
	transition: transform 0.4s;
	width: max-content;
}

.home_btn:active {
	transform: scale(1.2);
}
