.Card {
	padding: 1rem 0;
	height: 100%;
	background-color: white;
	width: 20rem;
}

.IconContainer {
	width: 100%;
	margin: 0 auto;
}

.Icon {
	margin: auto;
}

.card-body {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.circle-main {
	align-items: center;
	background-color: rgb(241, 142, 48);
	border-radius: 50px;
	display: flex;

	justify-content: center;
	height: 70px;
	width: 70px;
}

.circle-second {
	align-items: center;
	background-color: white;
	border-radius: 50px;
	display: flex;

	height: 50px;
	justify-content: center;
	width: 50px;
}

img {
	width: 2.2rem;
}

@media (max-width: 600px) {
	.Card {
		width: 18rem;
	}
}
